<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>org.seaman.orbit-watch</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>/Users/robertseaman/orbit_watch_cron/run_daily.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>7</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>AbandonProcessGroup</key><true/>
  <key>StandardOutPath</key><string>/Users/robertseaman/orbit_watch_cron/launchd_daily.out</string>
  <key>StandardErrorPath</key><string>/Users/robertseaman/orbit_watch_cron/launchd_daily.err</string>
</dict>
</plist>
